@charset "UTF-8";
/* Déclaration des mixins */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff; }

h1 {
  color: #707078;
  font-weight: 600; }

.premierePage {
  background-image: url(/imageCard/fondPremiereSection.jpg);
  display: flex;
  height: 934px;
  flex-wrap: wrap;
  justify-content: center; }

nav {
  height: 70px;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 191px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between; }

nav ul {
  list-style: none; }

nav ul a {
  text-decoration: none;
  color: white;
  display: none; }

nav img {
  height: 64px;
  width: 153px; }

.cont-lignes {
  margin-top: 35px;
  width: 60px;
  height: 42px;
  cursor: pointer;
  transform: translate(-50%, -50%); }

.lignes {
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background: #fff;
  position: absolute;
  transition: all 0.5s ease-in-out; }

.lignes:nth-child(1) {
  top: 0px; }

.lignes:nth-child(2) {
  top: 18px; }

.lignes:nth-child(3) {
  top: 36px; }

.btn1.active .lignes:nth-child(1) {
  /*a la fois btn1 et active */
  top: 18px;
  transform: rotate(135deg); }

.btn1.active .lignes:nth-child(2) {
  /*a la fois btn1 et active */
  opacity: 0;
  transform: translateX(-20px); }

.btn1.active .lignes:nth-child(3) {
  /*a la fois btn1 et active */
  top: 18px;
  transform: rotate(-135deg); }

.presentation {
  width: 100%;
  color: #fff;
  margin-bottom: 132px;
  padding: 0 30px;
  text-align: center; }

.texte-presentation {
  font-weight: 400;
  font-size: 37px;
  margin-bottom: 19px; }

.presentation p {
  font-weight: 400;
  font-size: 26px; }

.icone {
  width: 428px;
  margin-bottom: 196px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.icone .telephone, .mail, .facebook, .carte {
  margin-right: 65px; }

.icone .facebook, .carte, .partage {
  margin-top: 51px; }

.propos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.propos h1 {
  margin: 60px 0 50px 0;
  width: 100%;
  text-align: center; }

.propos .detail {
  width: 100%;
  color: #707078;
  font-size: 19px;
  margin: 72px 0 89px 0;
  text-align: center; }

.propos .lien-tripadvisor {
  text-align: center;
  width: 100%;
  margin-bottom: 21px; }

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #353353; }

.texte-lien {
  width: 100%;
  text-align: center;
  margin: 34px 0 17px 0;
  font-size: 30px;
  color: white; }

.bouton {
  font-size: 20px;
  width: 259px;
  height: 71px;
  text-align: center;
  text-decoration: none;
  color: #55ABB7;
  margin-bottom: 46px;
  padding-top: 18px;
  border-radius: 60px;
  border: 2px solid #55ABB7; }

.services h1 {
  margin: 60px 0 50px 0;
  width: 100%;
  text-align: center; }

.services p {
  width: 100%;
  color: #707078;
  font-size: 20px;
  margin: 11px 0 21px 0;
  text-align: center; }

.groupe-service {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.composant {
  width: 180px;
  height: 209px;
  margin: 0 29px 44px 0; }

.composant img {
  margin-right: 29px;
  width: 180px;
  height: 180px; }

/*# sourceMappingURL=style.css.map */
