@charset "UTF-8";
/* Déclaration des mixins */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff; }

h1 {
  width: 100%;
  text-align: center;
  color: #707078;
  font-weight: 600;
  font-size: 36px; }

#premierePage {
  background-image: url(/imageCard/fondPremiereSection.jpg);
  display: flex;
  height: 934px;
  flex-wrap: wrap;
  justify-content: center; }

nav {
  height: 70px;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 191px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between; }
  nav .menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: column; }
    nav .menu ul {
      list-style: none;
      text-align: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(/imageCard/fondPremiereSection.jpg); }
      nav .menu ul li {
        padding: 57px;
        border: 1px solid white; }
      nav .menu ul a {
        font-weight: 700;
        font-size: 25px;
        line-height: 40px;
        text-decoration: none;
        color: white; }
  nav img {
    height: 64px;
    width: 153px; }

.cont-lignes {
  margin-top: 35px;
  width: 60px;
  height: 42px;
  cursor: pointer;
  transform: translate(-50%, -50%); }

.lignes {
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background: #fff;
  position: absolute;
  transition: all 0.5s ease-in-out; }

.lignes:nth-child(1) {
  top: 0px; }

.lignes:nth-child(2) {
  top: 18px; }

.lignes:nth-child(3) {
  top: 36px; }

.btn1.active .lignes:nth-child(1) {
  /*a la fois btn1 et active */
  top: 18px;
  transform: rotate(135deg); }

.btn1.active .lignes:nth-child(2) {
  /*a la fois btn1 et active */
  opacity: 0;
  transform: translateX(-20px); }

.btn1.active .lignes:nth-child(3) {
  /*a la fois btn1 et active */
  top: 18px;
  transform: rotate(-135deg); }

.presentation {
  width: 100%;
  color: #fff;
  margin-bottom: 132px;
  padding: 0 30px;
  text-align: center; }
  .presentation p {
    font-weight: 400;
    font-size: 26px; }

.texte-presentation {
  font-weight: 400;
  font-size: 37px;
  margin-bottom: 19px; }

.icone {
  width: 428px;
  margin-bottom: 196px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.icone .telephone, .mail, .facebook, .carte {
  margin-right: 65px; }

.icone .facebook, .carte, .partage {
  margin-top: 51px; }

#propos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  #propos h1 {
    margin: 60px 0 50px 0; }
  #propos .detail {
    width: 100%;
    color: #707078;
    font-size: 19px;
    margin: 72px 0 89px 0;
    padding: 0 41px;
    text-align: center; }
  #propos .lien-tripadvisor {
    text-align: center;
    width: 100%;
    margin-bottom: 21px; }

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #353353; }

.texte-lien {
  width: 100%;
  text-align: center;
  margin: 34px 0 17px 0;
  font-size: 30px;
  color: white; }

.bouton {
  font-size: 20px;
  width: 259px;
  height: 71px;
  text-align: center;
  text-decoration: none;
  color: #55ABB7;
  margin-bottom: 46px;
  padding-top: 18px;
  border-radius: 60px;
  border: 2px solid #55ABB7; }

#services h1 {
  margin: 60px 0 50px 0;
  width: 100%;
  text-align: center; }
#services p {
  width: 100%;
  color: #707078;
  font-size: 20px;
  margin: 11px 0 21px 0;
  text-align: center; }

.groupe-service {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 102px; }

.composant {
  width: 180px;
  height: 209px;
  align-self: center;
  margin-bottom: 44px; }
  .composant img {
    width: 180px;
    height: 180px; }

.gauche {
  margin-right: 29px; }

#nouveaute {
  background-color: #353353;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  #nouveaute h1 {
    color: white;
    margin: 60px 0 15px 0; }
  #nouveaute p {
    color: white;
    padding: 0 70px;
    text-align: center;
    width: 100%; }

.image-nouveaute {
  background-color: #fff;
  width: 380px;
  height: 380px;
  align-self: center;
  margin: 59px 0 254px 0; }

#newletter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap; }
  #newletter h1 {
    margin: 60px 0 64px 0;
    padding: 0 42px; }
  #newletter p {
    text-align: center; }

label {
  text-align: center;
  display: block;
  font-weight: 600; }

#email, #number {
  text-align: center;
  width: 351px;
  height: 65px;
  align-self: center;
  border: 1px solid black; }

#email {
  margin-bottom: 106px; }

input::placeholder {
  text-align: center; }

#newletter input[type=submit] {
  width: 351px;
  height: 60px;
  margin: 230px 0 137px 0;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  background-color: #55ABB7;
  border-style: none;
  border-radius: 5px; }

#page-partage {
  background-color: #353353;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  #page-partage h1 {
    color: white;
    margin: 60px 0 98px 0;
    padding: 0 31px; }
  #page-partage p {
    color: white;
    font-size: 20px;
    padding: 0 76px;
    text-align: center;
    width: 100%; }

.qr {
  width: 310px;
  height: 310px;
  margin: 23px 0 46px 0;
  align-self: center; }

.groupe-icone {
  margin: 75px 0 104px 0;
  height: 60px;
  display: flex;
  justify-content: space-evenly; }

.second-sms, .second-mail {
  margin-right: 65px; }

.second-facebook {
  margin: 0; }

#visite {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  #visite h1 {
    margin: 60px 0 15px 0; }
  #visite p {
    color: #707078;
    font-weight: 600;
    font-size: 20px;
    align-self: center; }

.lundi {
  margin-top: 15px; }

.vendredi {
  margin-bottom: 40px; }

iframe {
  align-self: center; }

.bouton-maps {
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  align-self: center;
  padding-top: 15px;
  width: 351px;
  height: 65px;
  margin: 57px 0 137px 0;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  background-color: #55ABB7;
  border-style: none;
  border-radius: 5px; }

@media screen and (min-width: 610px) {
  .composant {
    margin: 0 29px 44px 0; } }

/*# sourceMappingURL=style.css.map */
